<!DOCTYPE html>
<html>
<head>
  <title>Border Patrol</title>
  <script src="js/jquery-1.9.1.min.js"></script>
  <script src="js/jquery-migrate-1.1.0.min.js"></script>
  <link href="css/video-js.css" rel="stylesheet" type="text/css">
  <!-- video.js must be in the <head> for older IEs to work. -->
  <script src="js/video.js"></script>
  <script>
	$(document).ready(function(){
		var $wi = $('#what-is')
		$wi.hide();
		$('#what-is-toggle a').click(function(){
		console.log('click');
			$wi.toggle();
		});	
		
	});
  </script>
  <script src="js/preloader.js"></script>
  <style>
	body{
		background-color: #000;
		margin: 0px 50px;
		color: #ccc;
		font-family: georgia, serif;

	}
	h1{
		font-family: 'Arial', sans-serif;
		text-transform:uppercase;
		font-size: 62px;
		letter-spacing: 7px;
		color: #fff;
		text-align: center;
		width: 100%;
		margin: 0px 0px 0px 0px;
		display:hidden;
		overflow:hidden;
		height:0px;
		display:block;
	}
	h2 {
		text-align: center;
		font-size: 20px;
		font-style: italic;
		top: 10px;
		margin-top: 30px 0px 0px 0px;
		z-index: 10;
	}
	a {
		color: #fff;
		text-decoration: none;
	}
	a:hover {
		text-decoration: underline;
	}
	div#masthead {
		width: 700px;
		height: 80px;
		margin: 40px auto 0px auto;
		background-image: url('media/border-patrol-title.svg');
		background-color: #000;
	}
	div#what-is {
		margin: 10px auto;
		width: 70%;
		max-width: 700px;

	}
	div#preloader #loaderImage {
		width: 128px;
		height: 128px;
		margin: 40px auto;
		overflow: visible;
	}
	div#preloader {
		max-width: 300px;
		height: auto;
		margin: 40px auto 0px auto;
		text-align: center;
	}
	
	div#border-patrol {
		top: -15px;
		margin: 0px auto;		
		z-index: 1;
	}

</style>
</head>
<body>
<div id="masthead">
	<h1>Border Patrol</h1>
</div>
	<h2 id="what-is-toggle"><a href="#">[what is this?]</a></h2>
<div id="what-is">
	<p>
	<i>Border Patrol</i> is the online manifestation of a video produced by digital media artist <a href="http://benlerchin.com">Ben Lerchin</a>. The 12-hour-long video documents a 'flight' in Google Earth's Flight Simulator mode along the border of the USA's 48 contiguous states, beginning and ending just south of San Diego, CA. The section of the video you are seeing now corresponds to the time of day, so if you return in three hours time, the frame you see will probably be pointing in a different cardinal direction. Likewise, if you come back in twelve hours you will see the same part of the border you see now. You are invited to stop by as often as you like.
	</p>
	<p>
	This video is about the uncertain relationship I have to my country and what it represents. I admire the people, places, and history that make it what it is, but regret the many great consequences of the American project. I do not think America is a place so much as it is an idea. It is comforting to think of borders and the ownership they imply, but what if this metaphor is reaching the end of its useful life? One of the great revelations of the digital age is that it requires far more energy to protect property than to share it. This is tragic as regards intellectual property. What of property in the traditional sense? What are the responsibilites that come with owning a place?
	</p> 
	<p>
	This work is an ode to the frontier spirit &ndash; a peculiar sort of idealism. It is dedicated to the hope that we can save the soul of our nation without losing its spirit.
	</p>
	<br />
	<p>
	N.B.: This video works reasonably well in most modern desktop browsers, but is spotty on mobile. (Sorry Android users, talk to Google about getting that MediaSource spec released). If you don't see anything or the loading screen doesn't go away after 2-3 minutes, try loading this page in a desktop version of Chrome or Safari.
	</p>
</div>
  <div id ="preloader">
<% if !supports_hls then %>	
	<div id="loaderImage"></div>
	<p>loading...</p>
	<p>[sit back, on some connections this takes a minute or two]</p>
<% else %>
	<p>Press the play button below to start. If you are on 3G, please be patient &ndash; the video may take a while to load. If you run into trouble at any point, reload the page and try again.</p>
<% end %>
  </div>
  <video id="border-patrol" class="video-js vjs-default-skin" preload="auto" width="100%" height="720"  data-setup="{}">
	<% if supports_hls then %>
		<source src="media/playlist-lq.m3u8" type="video/mp4"/>
	<% else %>
   		<source src="media/border-patrol-480-12h-lq.mp4" type="video/mp4" />
   		<source src="media/border-patrol-480-12h.webm" type="video/ogg" />
	<% end %>
  </video>
 <script>
	
	function set_viewer_size() {
		$viewer = $('div#border-patrol');
		$win = $(window);
		var h = ( $win.width() * .58 ); 
		$viewer.height( h );
	}
	$(window).resize(function(){
			set_viewer_size();
		});
   var bpPlayer = _V_("border-patrol");
    bpPlayer.ready( function(){
	   set_viewer_size();
	   
   });
//get current video time value from server and seek to that point in video
   bpPlayer.addEvent("loadeddata", function(){
	$('#preloader').hide();
	$.get( 'time', function(time){
   		bpPlayer.currentTime(time);
   		bpPlayer.play();
     
    		});
	});
	
 </script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38702597-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>
